<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:custom="http://java.sun.com/jsf/composite/admin"
        >
<h:head>
    <h:outputStylesheet library="css" name="bootstrap.css"/>
    <title>Users management</title>
</h:head>
<h:body>
    <div class="container">
        <div class="navbar-form navbar-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Users management</a></li>
            </ul>
        </div>
        <div class="navbar-form navbar-right">
            <ul class="nav nav-tabs ">
                <li><a href="logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="container ui-grid ui-grid-responsive">
        <p:accordionPanel>
            <div class="ui-grid-row">
                <p:tab title="Add user">
                    <custom:addUserComponent userLoginValue="#{addUserController.user.login}"
                                             userEmailValue="#{addUserController.user.email}"
                                             userPasswordValue="#{addUserController.user.password}"
                                             userFirstNameValue="#{addUserController.user.firstName}"
                                             userLastNameValue="#{addUserController.user.lastName}"
                                             userDateOfBirthValue="#{addUserController.user.dateOfBirth}"
                                             saveAction="#{addUserController.saveUser}"/>
                </p:tab>
            </div>
            <div class="ui-grid-row">
                <p:tab title="View users">
                    <h:panelGrid columns="2" cellpadding="10">
                        <custom:listAllUsersComponent usersValue="#{listUsersController.allUsers}"/>
                    </h:panelGrid>
                </p:tab>
            </div>
            <div class="ui-grid-row">
                <p:tab title="Send a group email">
                    <custom:sendGroupEmailComponent recipients="#{sendMailController.recipients}"
                                                    description="#{sendMailController.description}"
                                                    subject="#{sendMailController.subject}"
                                                    users="#{listUsersController.allUsers}"
                                                    sendMessage="#{sendMailController.sendMessage}"/>
                </p:tab>
            </div>
        </p:accordionPanel>
    </div>
</h:body>
</html>
