<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html">
<composite:interface>
    <composite:attribute name="users"/>
    <composite:attribute name="recipients"/>
    <composite:attribute name="subject"/>
    <composite:attribute name="description"/>
    <composite:attribute name="sendMessage" method-signature="void sendMessage()"/>
</composite:interface>
<composite:implementation>
    <h:form id="sendMessageForm">
        <p:panel header="Send message" id="sendMessagePanel">
            <p:growl id="msgs"/>
            <p:panelGrid columns="1"
                         style="margin-bottom:10px"
                         cellpadding="5">
                <p:outputLabel for="basic"
                               value="Select recipients:"/>
                <p:selectManyMenu id="basic" value="#{cc.attrs.recipients}">
                    <c:forEach items="#{cc.attrs.users}" var="user">
                        <f:selectItem itemLabel="#{user.login}" itemValue="#{user.email}"/>
                    </c:forEach>
                </p:selectManyMenu>
            </p:panelGrid>
            <p:panelGrid columns="1"
                         id="display">
                <p:outputLabel for="subject" value="Subject:"/>
                <p:inputText value="#{cc.attrs.subject}" id="subject">
                    <f:validateLength minimum="5"/>
                </p:inputText>
                <p:editor value="#{cc.attrs.description}" id="editor"/>

            </p:panelGrid>

            <p>
                <p:commandButton value="Send message"
                                 update=":#{p:component('sendMessagePanel')}, :#{p:component('sendMessageForm')}"
                                 action="#{sendMailController.sendMessage}"/>
            </p>
        </p:panel>
    </h:form>
</composite:implementation>
</html>
